
@import url('./colors.css');

* {
    font-family: "VictorMono Nerd Font Mono";
}

window#waybar {
    background: @background;
}

/* == SEPARATOR == */
#custom-separator {
    background-color: @accent1;
    color: @background;
}

/* == SWAY WINDOW == */
#window {
    padding: 0 12px;
    background-color: @accent1;
    color: @background;
}

/* == SWAY MODE == */
#mode {
    margin-left: 12px;
    color: @text;
}

/* == SWAY WORKSPACES == */
#workspaces {
    margin-right: 12px;
}

#workspaces button {
    color: @inactive_workspace;
    padding: 0;
    margin: -2px 0 0 0;
    border: none;
    min-width: 0;
}

#workspaces button.focused {
    color: @active_workspace;
}

#workspaces button:hover {
    background: unset;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

/* == BATTERY == */
#battery {
    padding: 0 12px;
    background-color: @accent1;
    color: @background;
}

/* == BACKLIGHT == */
#backlight {
    padding: 0 12px;
    background-color: @accent1;
    color: @background;
}

/* == BLUETOOTH == */
#bluetooth {
    padding: 0 12px;
    background-color: @accent1;
    color: @background;
}

/* == NETWORK == */
#network {
    padding: 0 12px;
    background-color: @accent1;
    color: @background;
}

/* == CLOCK == */
#clock {
    padding: 0 12px;
    background-color: @accent1;
    color: @background;
}

