
@import url('../../theme.css');

#TabsToolbar {
  display: none;
}

#sidebar-header {
  display: none;
}

/* == Toolbar == */
#urlbar {
  padding: 0 !important;
}
#navigator-toolbox {
  border: none !important;
}

